:root {
  --background: #fff;
  --background-dark: #1b2028;
  --input-color: #979797;
  --text-color: #1b2028;
  --bg-secondary: #ededed;
  --bg-secondary-dark: #2d3440;
  --rating-color: #f1c40f;
  --bg-modal: #ededed;
  --bg-input: #3e434d;
  --text-color-white: #ffffff;
}
